* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

#container{
    display: grid;

    height: 100vh;
}

#bg{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#bg>canvas{
    z-index:2;
}

