* {
    margin: 0px;
    padding: 0px;
}

#container{
    display: grid;

    height: 100vh;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 10vh auto 10vh;


}

#bg{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background-position; */
    background: url('./sunset.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

