* {
    margin: 0px;
    padding: 0px;
}

#container{
    display: grid;

    height: 100vh;
}

#bg{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-position; */
    background: url('./sunset.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg>canvas{
    z-index:2;
}

